# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
# Load the weatherpy_data.csv file
weatherpy_info_data_csv = "../output_data/cities.csv"

# Create a dataframe with imported csv file
weatherpy_info_data_df = pd.read_csv(weatherpy_data_csv)

# Display dataframe
weatherpy_info_data_df.head()

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Faya,SA,18.39,42.45,59.00,50,0,1.05,1605316808
1,1,Tasiilaq,GL,65.61,-37.64,19.40,52,99,3.36,1605316808
2,2,Mandalgovi,MN,45.76,106.27,30.90,76,0,5.48,1605316808
3,3,Mataura,NZ,-46.19,168.86,69.01,51,100,13.00,1605316808
4,4,Riyadh,SA,24.69,46.72,62.60,67,0,5.82,1605316642

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
# Configuring gmaps
gmaps.configure(api_key=g_key)

In [18]:
weatherpy_info_data_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Faya,SA,18.39,42.45,59.00,50,0,1.05,1605316808
1,1,Tasiilaq,GL,65.61,-37.64,19.40,52,99,3.36,1605316808
2,2,Mandalgovi,MN,45.76,106.27,30.90,76,0,5.48,1605316808
3,3,Mataura,NZ,-46.19,168.86,69.01,51,100,13.00,1605316808
4,4,Riyadh,SA,24.69,46.72,62.60,67,0,5.82,1605316642
...,...,...,...,...,...,...,...,...,...,...
552,552,Vilhena,BR,-12.74,-60.15,70.30,85,1,4.54,1605316934
553,553,Porbandar,IN,21.64,69.61,75.85,50,0,9.31,1605316934
554,554,Bwanga,TZ,-3.03,31.76,62.67,93,41,1.68,1605316934
555,555,Kourou,GF,5.16,-52.65,78.80,100,100,2.24,1605316934
556,556,Smithers,CA,54.78,-127.17,32.00,94,90,2.42,1605316757

In [12]:
# Current total records count for the new dataframe
weatherpy_info_data_df.count()

Unnamed: 0    557
City          557
Country       555
Lat           557
Long          557
Max Temp      557
Humidity      557
Cloudiness    557
Wind Speed    557
Date          557
dtype: int64

In [15]:
# Drop null or NaN values on the dataframe
weatherpy_info_data_df = weatherpy_data_df.dropna(how='all')

weatherpy_info_data_df.count()

Unnamed: 0    555
City          555
Country       555
Lat           555
Long          555
Max Temp      555
Humidity      555
Cloudiness    555
Wind Speed    555
Date          555
dtype: int64

In [17]:
weatherpy_info_data_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Faya,SA,18.39,42.45,59.00,50,0,1.05,1605316808
1,1,Tasiilaq,GL,65.61,-37.64,19.40,52,99,3.36,1605316808
2,2,Mandalgovi,MN,45.76,106.27,30.90,76,0,5.48,1605316808
3,3,Mataura,NZ,-46.19,168.86,69.01,51,100,13.00,1605316808
4,4,Riyadh,SA,24.69,46.72,62.60,67,0,5.82,1605316642
...,...,...,...,...,...,...,...,...,...,...
552,552,Vilhena,BR,-12.74,-60.15,70.30,85,1,4.54,1605316934
553,553,Porbandar,IN,21.64,69.61,75.85,50,0,9.31,1605316934
554,554,Bwanga,TZ,-3.03,31.76,62.67,93,41,1.68,1605316934
555,555,Kourou,GF,5.16,-52.65,78.80,100,100,2.24,1605316934
556,556,Smithers,CA,54.78,-127.17,32.00,94,90,2.42,1605316757

In [46]:
locations = weatherpy_info_data_df[["Lat","Long"]].astype(float)

# Use Humidity as a parameter
humidity = weatherpy_info_data_df["Humidity"].astype(float)


# Create a Humidity heatmap
fig = gmaps.figure()

heat_map_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                 max_intensity=max(weatherpy_data_df["Humidity"]),
                                point_radius = 1)

fig.add_layer(heat_map_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [61]:
# new dataframe for ideal weather conditions
ideal_weather_info_df = weatherpy_info_data_df
ideal_weather_info_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Faya,SA,18.39,42.45,59.00,50,0,1.05,1605316808
1,1,Tasiilaq,GL,65.61,-37.64,19.40,52,99,3.36,1605316808
2,2,Mandalgovi,MN,45.76,106.27,30.90,76,0,5.48,1605316808
3,3,Mataura,NZ,-46.19,168.86,69.01,51,100,13.00,1605316808
4,4,Riyadh,SA,24.69,46.72,62.60,67,0,5.82,1605316642
...,...,...,...,...,...,...,...,...,...,...
552,552,Vilhena,BR,-12.74,-60.15,70.30,85,1,4.54,1605316934
553,553,Porbandar,IN,21.64,69.61,75.85,50,0,9.31,1605316934
554,554,Bwanga,TZ,-3.03,31.76,62.67,93,41,1.68,1605316934
555,555,Kourou,GF,5.16,-52.65,78.80,100,100,2.24,1605316934
556,556,Smithers,CA,54.78,-127.17,32.00,94,90,2.42,1605316757

In [62]:
# filtering ideal_weather_df by adding condition of max temperature higher than 70 degrees
ideal_weather_info_df = ideal_weather_df.loc[ideal_weather_df['Max Temp'] >= 70] 
ideal_weather_info_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
6,6,Neiafu,TO,-18.65,-173.98,82.40,78,20,11.41,1605316808
10,10,Martapura,ID,-3.42,114.85,84.20,83,20,3.36,1605316809
11,11,Bambanglipuro,ID,-7.95,110.28,85.75,69,12,3.33,1605316809
14,14,Avarua,CK,-21.21,-159.78,78.80,69,94,6.93,1605316809
16,16,Atuona,PF,-9.80,-139.03,77.77,75,5,15.97,1605316809
...,...,...,...,...,...,...,...,...,...,...
549,549,Pedasí,PA,7.53,-80.03,79.39,80,100,9.95,1605316928
550,550,La Santisima Trinidad,BO,-14.83,-64.90,79.68,71,89,1.77,1605316934
552,552,Vilhena,BR,-12.74,-60.15,70.30,85,1,4.54,1605316934
553,553,Porbandar,IN,21.64,69.61,75.85,50,0,9.31,1605316934
555,555,Kourou,GF,5.16,-52.65,78.80,100,100,2.24,1605316934

In [63]:
# filtering ideal_weather_df by adding condition of max temperature lower than 80 degrees
ideal_weather_info_df = ideal_weather_df.loc[ideal_weather_df['Max Temp'] <= 80] 
ideal_weather_info_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
14,14,Avarua,CK,-21.21,-159.78,78.80,69,94,6.93,1605316809
16,16,Atuona,PF,-9.80,-139.03,77.77,75,5,15.97,1605316809
31,31,Alfredo Chaves,BR,-20.64,-40.75,78.80,78,40,14.99,1605316811
32,32,Rikitea,PF,-23.12,-134.97,75.87,78,58,10.92,1605316811
33,33,Adrar,MR,20.50,-10.07,77.45,18,100,9.04,1605316811
...,...,...,...,...,...,...,...,...,...,...
549,549,Pedasí,PA,7.53,-80.03,79.39,80,100,9.95,1605316928
550,550,La Santisima Trinidad,BO,-14.83,-64.90,79.68,71,89,1.77,1605316934
552,552,Vilhena,BR,-12.74,-60.15,70.30,85,1,4.54,1605316934
553,553,Porbandar,IN,21.64,69.61,75.85,50,0,9.31,1605316934
555,555,Kourou,GF,5.16,-52.65,78.80,100,100,2.24,1605316934

In [64]:
#filtering ideal_weather_df byadding condition of wind speed less than 10 mph
ideal_weather_info_df = ideal_weather_info_df.loc[ideal_weather_df['Wind Speed'] < 10]
ideal_weather_info_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
14,14,Avarua,CK,-21.21,-159.78,78.80,69,94,6.93,1605316809
33,33,Adrar,MR,20.50,-10.07,77.45,18,100,9.04,1605316811
43,43,Giohar,SO,2.78,45.50,73.83,93,0,4.85,1605316812
50,50,Arraial do Cabo,BR,-22.97,-42.03,73.92,93,100,5.84,1605316818
55,55,Chimoré,BO,-16.98,-65.13,73.71,90,0,2.64,1605316818
...,...,...,...,...,...,...,...,...,...,...
549,549,Pedasí,PA,7.53,-80.03,79.39,80,100,9.95,1605316928
550,550,La Santisima Trinidad,BO,-14.83,-64.90,79.68,71,89,1.77,1605316934
552,552,Vilhena,BR,-12.74,-60.15,70.30,85,1,4.54,1605316934
553,553,Porbandar,IN,21.64,69.61,75.85,50,0,9.31,1605316934
555,555,Kourou,GF,5.16,-52.65,78.80,100,100,2.24,1605316934

In [65]:
# filtering ideal_weather_df by adding condition of zero cloudiness 
ideal_weather_info_df = ideal_weather_info_df.loc[ideal_weather_df['Cloudiness'] == 0]
ideal_weather_info_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
43,43,Giohar,SO,2.78,45.50,73.83,93,0,4.85,1605316812
55,55,Chimoré,BO,-16.98,-65.13,73.71,90,0,2.64,1605316818
57,57,Dakar,SN,14.69,-17.44,78.80,50,0,4.70,1605316648
58,58,Djenné,ML,13.91,-4.55,73.71,20,0,7.23,1605316819
94,94,Monywa,MM,22.12,95.13,71.01,79,0,7.25,1605316828
107,107,Belmonte,BR,-15.86,-38.88,77.00,78,0,8.05,1605316830
149,149,Kyaikkami,MM,16.08,97.57,77.45,76,0,8.30,1605316840
160,160,Nouadhibou,MR,20.93,-17.03,73.40,46,0,9.17,1605316841
163,163,Airai,TL,-8.93,125.41,78.17,45,0,2.66,1605316695
214,214,São Luiz Gonzaga,BR,-28.41,-54.96,70.05,63,0,7.52,1605316853
217,217,Arlit,NE,18.74,7.39,70.95,27,0,8.34,1605316853
219,219,Gambēla,ET,8.25,34.58,71.96,78,0,4.68,1605316853
229,229,Mattru,SL,7.62,-11.83,73.89,92,0,0.65,1605316859
235,235,Sur,OM,22.57,59.53,72.77,49,0,5.88,1605316860
257,257,Grand Gaube,MU,-20.01,57.66,73.99,85,0,1.01,1605316863
301,301,Sompeta,IN,18.93,84.60,74.55,61,0,7.18,1605316874
306,306,Flinders,AU,-34.58,150.86,79.00,62,0,4.00,1605316874
312,312,Beitbridge,ZW,-22.22,30.00,70.39,39,0,4.88,1605316875
389,389,Christchurch,NZ,-43.53,172.63,78.80,46,0,4.70,1605316895
403,403,Bonthe,SL,7.53,-12.51,78.48,86,0,3.94,1605316897
416,416,Kodīnar,IN,20.79,70.70,74.57,49,0,7.18,1605316903
428,428,Yārāda,IN,17.65,83.27,71.60,94,0,2.24,1605316904
463,463,Santarém,BR,-2.44,-54.71,78.80,94,0,2.24,1605316914
470,470,Rondonópolis,BR,-16.47,-54.64,78.75,62,0,2.26,1605316914
493,493,San Miguel,SV,13.48,-88.18,74.95,91,0,2.93,1605316917
507,507,Kiama,AU,-34.68,150.87,79.00,77,0,8.14,1605316924
539,539,Nyaunglebin,MM,17.95,96.73,73.81,88,0,6.11,1605316927
541,541,Forbes,AU,-33.38,148.02,72.88,38,0,8.23,1605316928
553,553,Porbandar,IN,21.64,69.61,75.85,50,0,9.31,1605316934

In [66]:
ideal_weather_info_df.count()

Unnamed: 0    29
City          29
Country       29
Lat           29
Long          29
Max Temp      29
Humidity      29
Cloudiness    29
Wind Speed    29
Date          29
dtype: int64

In [67]:
# Drop any rows that don't contain all three conditions
ideal_weather_info_df = ideal_weather_info_df.dropna(how = "all")
ideal_weather_info_df.count()

Unnamed: 0    29
City          29
Country       29
Lat           29
Long          29
Max Temp      29
Humidity      29
Cloudiness    29
Wind Speed    29
Date          29
dtype: int64

In [68]:
# Resetting the index number on the new dataframe
ideal_weather_info_df = ideal_weather_info_df.reset_index()
ideal_weather_info_df

,index,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,43,43,Giohar,SO,2.78,45.50,73.83,93,0,4.85,1605316812
1,55,55,Chimoré,BO,-16.98,-65.13,73.71,90,0,2.64,1605316818
2,57,57,Dakar,SN,14.69,-17.44,78.80,50,0,4.70,1605316648
3,58,58,Djenné,ML,13.91,-4.55,73.71,20,0,7.23,1605316819
4,94,94,Monywa,MM,22.12,95.13,71.01,79,0,7.25,1605316828
5,107,107,Belmonte,BR,-15.86,-38.88,77.00,78,0,8.05,1605316830
6,149,149,Kyaikkami,MM,16.08,97.57,77.45,76,0,8.30,1605316840
7,160,160,Nouadhibou,MR,20.93,-17.03,73.40,46,0,9.17,1605316841
8,163,163,Airai,TL,-8.93,125.41,78.17,45,0,2.66,1605316695
9,214,214,São Luiz Gonzaga,BR,-28.41,-54.96,70.05,63,0,7.52,1605316853
10,217,217,Arlit,NE,18.74,7.39,70.95,27,0,8.34,1605316853
11,219,219,Gambēla,ET,8.25,34.58,71.96,78,0,4.68,1605316853
12,229,229,Mattru,SL,7.62,-11.83,73.89,92,0,0.65,1605316859
13,235,235,Sur,OM,22.57,59.53,72.77,49,0,5.88,1605316860
14,257,257,Grand Gaube,MU,-20.01,57.66,73.99,85,0,1.01,1605316863
15,301,301,Sompeta,IN,18.93,84.60,74.55,61,0,7.18,1605316874
16,306,306,Flinders,AU,-34.58,150.86,79.00,62,0,4.00,1605316874
17,312,312,Beitbridge,ZW,-22.22,30.00,70.39,39,0,4.88,1605316875
18,389,389,Christchurch,NZ,-43.53,172.63,78.80,46,0,4.70,1605316895
19,403,403,Bonthe,SL,7.53,-12.51,78.48,86,0,3.94,1605316897
20,416,416,Kodīnar,IN,20.79,70.70,74.57,49,0,7.18,1605316903
21,428,428,Yārāda,IN,17.65,83.27,71.60,94,0,2.24,1605316904
22,463,463,Santarém,BR,-2.44,-54.71,78.80,94,0,2.24,1605316914
23,470,470,Rondonópolis,BR,-16.47,-54.64,78.75,62,0,2.26,1605316914
24,493,493,San Miguel,SV,13.48,-88.18,74.95,91,0,2.93,1605316917
25,507,507,Kiama,AU,-34.68,150.87,79.00,77,0,8.14,1605316924
26,539,539,Nyaunglebin,MM,17.95,96.73,73.81,88,0,6.11,1605316927
27,541,541,Forbes,AU,-33.38,148.02,72.88,38,0,8.23,1605316928
28,553,553,Porbandar,IN,21.64,69.61,75.85,50,0,9.31,1605316934

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [57]:
### Hotel Map; Storing values into a variable named `hotel_df`
hotel_df = ideal_weather_info_df
hotel_df

,index,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,43,43,Giohar,SO,2.78,45.50,73.83,93,0,4.85,1605316812
1,55,55,Chimoré,BO,-16.98,-65.13,73.71,90,0,2.64,1605316818
2,57,57,Dakar,SN,14.69,-17.44,78.80,50,0,4.70,1605316648
3,58,58,Djenné,ML,13.91,-4.55,73.71,20,0,7.23,1605316819
4,94,94,Monywa,MM,22.12,95.13,71.01,79,0,7.25,1605316828
5,107,107,Belmonte,BR,-15.86,-38.88,77.00,78,0,8.05,1605316830
6,149,149,Kyaikkami,MM,16.08,97.57,77.45,76,0,8.30,1605316840
7,160,160,Nouadhibou,MR,20.93,-17.03,73.40,46,0,9.17,1605316841
8,163,163,Airai,TL,-8.93,125.41,78.17,45,0,2.66,1605316695
9,214,214,São Luiz Gonzaga,BR,-28.41,-54.96,70.05,63,0,7.52,1605316853
10,217,217,Arlit,NE,18.74,7.39,70.95,27,0,8.34,1605316853
11,219,219,Gambēla,ET,8.25,34.58,71.96,78,0,4.68,1605316853
12,229,229,Mattru,SL,7.62,-11.83,73.89,92,0,0.65,1605316859
13,235,235,Sur,OM,22.57,59.53,72.77,49,0,5.88,1605316860
14,257,257,Grand Gaube,MU,-20.01,57.66,73.99,85,0,1.01,1605316863
15,301,301,Sompeta,IN,18.93,84.60,74.55,61,0,7.18,1605316874
16,306,306,Flinders,AU,-34.58,150.86,79.00,62,0,4.00,1605316874
17,312,312,Beitbridge,ZW,-22.22,30.00,70.39,39,0,4.88,1605316875
18,389,389,Christchurch,NZ,-43.53,172.63,78.80,46,0,4.70,1605316895
19,403,403,Bonthe,SL,7.53,-12.51,78.48,86,0,3.94,1605316897
20,416,416,Kodīnar,IN,20.79,70.70,74.57,49,0,7.18,1605316903
21,428,428,Yārāda,IN,17.65,83.27,71.60,94,0,2.24,1605316904
22,463,463,Santarém,BR,-2.44,-54.71,78.80,94,0,2.24,1605316914
23,470,470,Rondonópolis,BR,-16.47,-54.64,78.75,62,0,2.26,1605316914
24,493,493,San Miguel,SV,13.48,-88.18,74.95,91,0,2.93,1605316917
25,507,507,Kiama,AU,-34.68,150.87,79.00,77,0,8.14,1605316924
26,539,539,Nyaunglebin,MM,17.95,96.73,73.81,88,0,6.11,1605316927
27,541,541,Forbes,AU,-33.38,148.02,72.88,38,0,8.23,1605316928
28,553,553,Porbandar,IN,21.64,69.61,75.85,50,0,9.31,1605316934

In [58]:
# Adding a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""
hotel_df

,index,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
0,43,43,Giohar,SO,2.78,45.50,73.83,93,0,4.85,1605316812,
1,55,55,Chimoré,BO,-16.98,-65.13,73.71,90,0,2.64,1605316818,
2,57,57,Dakar,SN,14.69,-17.44,78.80,50,0,4.70,1605316648,
3,58,58,Djenné,ML,13.91,-4.55,73.71,20,0,7.23,1605316819,
4,94,94,Monywa,MM,22.12,95.13,71.01,79,0,7.25,1605316828,
5,107,107,Belmonte,BR,-15.86,-38.88,77.00,78,0,8.05,1605316830,
6,149,149,Kyaikkami,MM,16.08,97.57,77.45,76,0,8.30,1605316840,
7,160,160,Nouadhibou,MR,20.93,-17.03,73.40,46,0,9.17,1605316841,
8,163,163,Airai,TL,-8.93,125.41,78.17,45,0,2.66,1605316695,
9,214,214,São Luiz Gonzaga,BR,-28.41,-54.96,70.05,63,0,7.52,1605316853,
10,217,217,Arlit,NE,18.74,7.39,70.95,27,0,8.34,1605316853,
11,219,219,Gambēla,ET,8.25,34.58,71.96,78,0,4.68,1605316853,
12,229,229,Mattru,SL,7.62,-11.83,73.89,92,0,0.65,1605316859,
13,235,235,Sur,OM,22.57,59.53,72.77,49,0,5.88,1605316860,
14,257,257,Grand Gaube,MU,-20.01,57.66,73.99,85,0,1.01,1605316863,
15,301,301,Sompeta,IN,18.93,84.60,74.55,61,0,7.18,1605316874,
16,306,306,Flinders,AU,-34.58,150.86,79.00,62,0,4.00,1605316874,
17,312,312,Beitbridge,ZW,-22.22,30.00,70.39,39,0,4.88,1605316875,
18,389,389,Christchurch,NZ,-43.53,172.63,78.80,46,0,4.70,1605316895,
19,403,403,Bonthe,SL,7.53,-12.51,78.48,86,0,3.94,1605316897,
20,416,416,Kodīnar,IN,20.79,70.70,74.57,49,0,7.18,1605316903,
21,428,428,Yārāda,IN,17.65,83.27,71.60,94,0,2.24,1605316904,
22,463,463,Santarém,BR,-2.44,-54.71,78.80,94,0,2.24,1605316914,
23,470,470,Rondonópolis,BR,-16.47,-54.64,78.75,62,0,2.26,1605316914,
24,493,493,San Miguel,SV,13.48,-88.18,74.95,91,0,2.93,1605316917,
25,507,507,Kiama,AU,-34.68,150.87,79.00,77,0,8.14,1605316924,
26,539,539,Nyaunglebin,MM,17.95,96.73,73.81,88,0,6.11,1605316927,
27,541,541,Forbes,AU,-33.38,148.02,72.88,38,0,8.23,1605316928,
28,553,553,Porbandar,IN,21.64,69.61,75.85,50,0,9.31,1605316934,

In [71]:
# Set a value for hotel names search
hotel_search = []

# Hotel name search parameters within 5000 meters.
params = {
    "radius": 5000, 
    "types":"hotel",
    "keyword":"hotel",
    "key": g_key
}

# Use the Google Places API for each city's coordinates and Use the Lat & Lng to identify hotels
for index, row in hotel_df.iterrows():
    # Retrieve Lat & Lng from hotel dataframe
    lat = row["Lat"]
    lng = row["Long"]

    # Change location each iteration while leaving orginal params in place
    params["location"] = f"{lat},{lng}"
    
    # Set up base_url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make a json request and print url
    hotel_name = requests.get(base_url, params=params).json()
     
    # Store the first Hotel result into the DataFrame
    try:
        hotel_search.append(hotel_name['results'][0]['name'])
    
    # Create message to skip missing data and keep loop running
    except:
        hotel_search.append(np.nan)
        print("Missing field/result... skipping.")

# Append searched hotel names to dataframe
hotel_df['Hotel Name'] = hotel_search

# Display complete result
hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

,index,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
0,43,43,Giohar,SO,2.78,45.50,73.83,93,0,4.85,1605316812,SUUBIYE HOTEL AND RESTAURANT
1,55,55,Chimoré,BO,-16.98,-65.13,73.71,90,0,2.64,1605316818,Hotel Napoli
2,57,57,Dakar,SN,14.69,-17.44,78.80,50,0,4.70,1605316648,"Radisson Blu Hotel, Dakar Sea Plaza"
3,58,58,Djenné,ML,13.91,-4.55,73.71,20,0,7.23,1605316819,Hôtel Tapama
4,94,94,Monywa,MM,22.12,95.13,71.01,79,0,7.25,1605316828,Glorious Monywa Hotel
5,107,107,Belmonte,BR,-15.86,-38.88,77.00,78,0,8.05,1605316830,Pousada Belmonte
6,149,149,Kyaikkami,MM,16.08,97.57,77.45,76,0,8.30,1605316840,NaN
7,160,160,Nouadhibou,MR,20.93,-17.03,73.40,46,0,9.17,1605316841,Free Zone Hotel Nouadhibou
8,163,163,Airai,TL,-8.93,125.41,78.17,45,0,2.66,1605316695,NaN
9,214,214,São Luiz Gonzaga,BR,-28.41,-54.96,70.05,63,0,7.52,1605316853,Ivos Hotel
10,217,217,Arlit,NE,18.74,7.39,70.95,27,0,8.34,1605316853,Hôtel Telwa Bungalow
11,219,219,Gambēla,ET,8.25,34.58,71.96,78,0,4.68,1605316853,"Grand Resort And Spa,Gambella"
12,229,229,Mattru,SL,7.62,-11.83,73.89,92,0,0.65,1605316859,NaN
13,235,235,Sur,OM,22.57,59.53,72.77,49,0,5.88,1605316860,Sur Plaza Hotel
14,257,257,Grand Gaube,MU,-20.01,57.66,73.99,85,0,1.01,1605316863,LUX Grand Gaube Resort & Villas
15,301,301,Sompeta,IN,18.93,84.60,74.55,61,0,7.18,1605316874,NaN
16,306,306,Flinders,AU,-34.58,150.86,79.00,62,0,4.00,1605316874,Lakeview Hotel Motel
17,312,312,Beitbridge,ZW,-22.22,30.00,70.39,39,0,4.88,1605316875,"Elliot Hotel&Conference Centre,Beit Bridge"
18,389,389,Christchurch,NZ,-43.53,172.63,78.80,46,0,4.70,1605316895,Sudima Christchurch City
19,403,403,Bonthe,SL,7.53,-12.51,78.48,86,0,3.94,1605316897,Bonthe Holiday Village
20,416,416,Kodīnar,IN,20.79,70.70,74.57,49,0,7.18,1605316903,Vinnca Hotel and Banquets
21,428,428,Yārāda,IN,17.65,83.27,71.60,94,0,2.24,1605316904,NaN
22,463,463,Santarém,BR,-2.44,-54.71,78.80,94,0,2.24,1605316914,Prata Hotel
23,470,470,Rondonópolis,BR,-16.47,-54.64,78.75,62,0,2.26,1605316914,Tuti Bororo
24,493,493,San Miguel,SV,13.48,-88.18,74.95,91,0,2.93,1605316917,Hotel Comfort Inn San Miguel
25,507,507,Kiama,AU,-34.68,150.87,79.00,77,0,8.14,1605316924,Nova Kiama
26,539,539,Nyaunglebin,MM,17.95,96.73,73.81,88,0,6.11,1605316927,Sann Htay Guest House
27,541,541,Forbes,AU,-33.38,148.02,72.88,38,0,8.23,1605316928,Ben Hall Motor Inn
28,553,553,Porbandar,IN,21.64,69.61,75.85,50,0,9.31,1605316934,Lords Inn Porbandar

In [72]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [74]:
# Add marker layer ontop of heat map
hotel_marker = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the heat map
fig.add_layer(hotel_marker)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))